.container {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.playlist-container {
  border: solid #1DB954 2px;
  border-radius: 20px;
  padding: 30px;
  color: white;
  margin: 30px;
  display: flex;
  cursor: pointer;
}

.playlist-img {
  margin-right: 30px;
}